body {
    padding-top: calc(5rem - 1px);

    @include media-breakpoint-up(lg) {
        padding-top: calc(4rem - 1px);
    }
}

.main-nav {

    .navbar-brand {
        font-size: 1.5rem;
        letter-spacing: 1px;

        i {
            font-size: inherit;
            line-height: inherit;
        }

        img {
            max-height: 30px;
            width: auto;
        }
    }

    @include media-breakpoint-up(lg) {

        font-size: $font-size-sm;

        .nav-item + .nav-item::before {
                content: '\2022';
                color: gray("300");
                padding-left: 1.25rem;
                padding-right: 1.25rem;
            }

        .nav-link {
            border-bottom: 3px solid transparent;
            display: inline-block;
            letter-spacing: 2px;
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
            transition: border-color 0.2s linear;
        }

        .dropdown-menu {
            font-size: $font-size-sm;
        }

        .dropdown-item {
            letter-spacing: 1px;
            transition: background-color 0.2s, color 0.2s linear;
        }
    }

    @include media-breakpoint-down(md) {
        padding-top: 1rem;
        padding-bottom: 1rem;

        .nav-item + .nav-item {
            border-top: 1px solid;
        }

        .nav-link {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
        }
    }
}

.navbar-dark {

    .nav-item + .nav-item {
        border-color: theme-color("dark");
    }

    .nav-link {

        &:hover,
        &.active {
            border-color: theme-color("white");
        }
    }
}

.navbar-light {

    .nav-item + .nav-item {
        border-color: theme-color("light");
    }

    .nav-link {

        &:hover,
        &.active {
            border-color: theme-color("black");
        }
    }
}

.side-nav {

    &.sticky-top {
        top: 5rem;
    }

    .nav-link.active {
        font-weight: bold;
    }
}
.home-social {
    list-style: none;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    position: absolute;
    top: 6rem;
    right: 6.2rem;
    z-index: 500;
  }
  
  .home-social a {
    color: #FFFFFF;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .home-social li {
    position: relative;
    padding: .6rem 0;
  }
  
  .home-social li a {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
  }
  
  .home-social i,
  .home-social span {
    position: absolute;
    top: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .home-social i {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    width: 36px;
    height: 36px;
    line-height: 36px;
    right: 0;
  }
  
  .home-social span {
    background-color: #151515;
    font-size: 1.2rem;
    line-height: 30px;
    color: 	#6495ED;
    right: 50px;
    padding: 0 15px;
    margin: 3px 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  
  .home-social span::after {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #151515;
    position: absolute;
    top: 50%;
    right: -6px;
    margin-top: -6px;
  }
  
  .home-social li:hover span {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
